/* 
Jaime Arnold
CH125H Lab 6
02/03/2022
*/


/****** Base Section *****/

* {
    margin: 0;
    padding: 0;
    font-size: 100%;
}

* {
    box-sizing: border-box;
}

header,
main,
article,
section,
footer {
    margin: 1em;
    padding: 1em;
}


/***** End Base Section *****/

.row {
    clear: both;
    margin-top: 0%;
    margin-bottom: 0%;
}

body {
    width: 100%;
    margin: 0 auto;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    display: block;
    background-color: lightgray;
}

main {
    width: 85%;
    margin: 0 auto;
    background-color: whitesmoke;
}

header.pages {
    width: 85%;
    margin: 0 auto;
    background-color: whitesmoke;
}


/*Nav*******************************************************/

nav {
    width: 85%;
    margin: .50em auto 0 auto;
    background-color: whitesmoke;
    border-radius: 25px 25px 0 0;
}

#nav_menu ul {
    list-style-type: none;
    text-align: center;
}

#nav_menu ul li {
    display: inline-block;
    text-align: center;
}

#nav_menu ul li a {
    display: inline-block;
    width: 238.3px;
    font-family: 'Montserrat' Verdana, Geneva, Tahoma, sans-serif;
    padding: .50em 0em;
    margin: 0 auto;
    color: slategrey;
    text-decoration: none;
    font-size: 150%;
    text-align: center;
}

nav ul li a:hover,
nav ul li a:focus {
    font-weight: bold;
}

#nav_menu img {
    width: 120%;
    margin-bottom: .50em;
    padding-top: 0%;
    padding-right: .3em;
    padding-left: .3em;
}

#nav_menu>ul::after {
    content: "";
    display: block;
    clear: both;
}

#nav_menu ul li a.current {
    color: darkslategray;
    font-weight: bold;
}


/*end nav *******************************************************/

.container1 {
    display: inline-block;
    width: 32.4%;
    padding: 5px;
    align-content: center;
    margin: 0 .25em 0 .25em;
}

img.img-fluid1 {
    width: 100%;
    height: auto;
    border-radius: 25px;
}

img.img-fluid2 {
    width: 100%;
    height: auto;
    border-radius: 25px;
}

img.img-fluid3 {
    width: 100%;
    height: auto;
    border-radius: 25px;
}

div.desc {
    padding: 15px;
    text-align: center;
    font-family: 'Montserrat' Verdana, 'Geneva', Tahoma, sans-serif;
}

div.clearfix {
    content: "";
    display: table;
    clear: both;
}

footer {
    border-radius: 0 0 25px 25px;
    background-color: whitesmoke;
    width: 85%;
    margin: 0 auto;
}

footer p {
    text-align: center;
    width: 100%;
}