div.responsive {
    float: left;
    padding: 0 6px;
    width: 25%;
    margin: 0% auto;
    align-content: center;
}

div.gallery {
    margin: 0 auto;
    padding: 0%;
    width: 100%;
}

img {
    width: 100%;
    height: auto;
}


/*Original*/

.gallery {
    float: left;
    margin: 0 0 1em 1em;
    padding: 0%;
    width: 100%;
}

div.gallery:hover {
    border: 1px solid #777;
}

div img {
    width: 100%;
    height: auto;
}

.responsive {
    display: flex;
    padding: 0 6px;
    width: 25%;
    margin: 0% auto;
    align-content: center;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}