/* Jaime Arnold
    01/26/2022
    CS 125H - Lab 3 */


/* the styles for the elements */

html {
    background-color: rgb(241, 237, 239);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: lavender;
    height: 80%;
    font-size: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1em;
    padding: 1em;
}

header {
    background-image: url("/images/aurelia-dubois-6J0MUsmS4fQ-unsplash.jpeg");
    text-align: center;
    width: 100%;
    height: auto;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    border-radius: 0 0 85% 85% / 30%;
}

header .overlay {
    width: 100%;
    height: 100%;
    padding: 50px;
    color: #fff;
    text-shadow: 1px 1px 1px #333;
    background-image: linear-gradient(135deg, #9f05ff69 10%, #fd5e086b 100%);
}


/* the styles for the header */

header h1 {
    font-family: "Dancing Script", cursive;
    font-size: 80px;
    color: white;
    text-indent: 50px;
    text-shadow: 2px 2px 2px black;
}

header h2 {
    font-size: 130%;
    font-style: italic;
    text-indent: 2em;
}


/* the styles for the section */

main {
    clear: left;
}

main h1 {
    font-size: 150%;
    text-align: center;
}

main h2 {
    font-size: 130%;
}

main h3 {
    font-size: 105%;
}

main a:link {
    color: #6929b3;
    font-weight: bold;
}

main a:focus,
main a:hover {
    font-style: italic;
}

main p.indent {
    text-indent: 2em;
}

ul {
    line-height: 1.5;
}

li {
    font-size: 100%;
}

main p.center {
    text-align: center;
    font-style: italic;
}


/* the styles for the footer */

footer p {
    text-align: center;
}