/*
Jaime Arnold
CS 125H
03/9/2022
Lab 9 */


/* the reset selector */

* {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}


/* the styles for the elements */

html {
    background-color: whitesmoke;
}

body {
    width: 98%;
    max-width: 2000px;
    background-color: #ACB9B9;
    padding: 10px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 100%;
    margin: 5px auto;
}


/*This is the header styles*/

header {
    display: flex;
    flex-basis: 98%;
    height: auto;
    margin: 0 auto;
    padding-bottom: .5em;
    justify-content: center;
    border: 10px solid whitesmoke;
    border-top: none;
}

header.soap_header {
    display: flex;
    flex-basis: 98%;
    justify-content: space-around;
    height: auto;
    background-color: darkslategray;
}

header.soap_header h1 {
    display: flex;
    flex-basis: 98%;
    justify-content: space-around;
    text-align: center;
    color: whitesmoke;
    font-size: 600%;
    font-family: monospace;
    font-weight: lighter;
    padding: 1%;
    margin: 0 auto;
}


/*    Style for the Nav LOGO   */

#nav_menu ul li#logo {
    padding-top: 0;
    opacity: 80%;
    padding-top: 0em;
    margin-top: 0%;
}


/*   Styles for the #nav_menu   */

#nav_menu ul {
    display: flex;
    flex-basis: 100%;
    list-style: none;
    text-decoration: none;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
    height: auto;
    padding-top: .5em;
    padding-bottom: .5em;
    background-color: #829595;
    background-image: linear-gradient(darkslategray, #829595, darkslategray);
    border-left: 10px solid whitesmoke;
    border-right: 10px solid whitesmoke;
    border-top: 10px solid whitesmoke;
    border-bottom: none;
}

#nav_menu ul li {
    flex-basis: 25%;
    padding-top: 8%;
    margin-right: 2.7%;
    margin-left: 2.7%;
}

#nav_menu ul li a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: whitesmoke;
    font-size: 200%;
}

#nav_menu a:hover,
#nav_menu a:focus {
    font-weight: bold;
    border-color: whitesmoke;
}

#nav_menu a.current {
    color: darkslategrey;
    font-weight: bolder;
    text-shadow: 3px 3px 4px whitesmoke;
}


/*Styles for images index.html page*/

main {
    display: flex;
    flex-basis: 100%;
}

.images {
    border: 10px solid whitesmoke;
    padding: .4%;
    display: flex;
    flex-basis: 100%;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-around;
}

.rightimg {
    flex: 33.3%;
    padding: 1%;
}

.leftimg {
    flex: 33.3%;
    padding: 1%;
}

.centerimg {
    flex: 33.3%;
    padding: 1%;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}


/* The Process section/aside on index.html page*/

section#fixit {
    flex-basis: 50%;
    flex-direction: column;
    margin: 0 auto;
    justify-content: space-around;
    float: left;
    width: 50%;
    order: 2;
}

section#fixit img {
    flex-basis: 50%;
    padding: 6%;
    padding-bottom: 1.2%;
}

aside#process {
    flex-basis: 50%;
    flex-direction: column;
    padding: 1%;
    margin: 0 auto;
    justify-content: space-around;
    float: left;
    width: 50%;
    order: 1;
}

aside#process img {
    flex-direction: column;
    flex-basis: 50%;
    padding: 1%;
}

aside#process ol {
    flex-direction: column;
    list-style-type: none;
    justify-content: space-around;
    flex-basis: 50%;
    margin-top: 1em;
    padding: 2%;
    color: darkslategray;
    text-align: left;
}

aside#process li {
    flex-basis: 20%;
    font-weight: bold;
    font-size: x-large;
    padding: 2%;
}

aside#process h1 {
    flex-direction: column;
    padding: .5%;
    text-align: center;
    font-weight: bold;
    font-size: 200%;
    color: darkslategray;
}


/*     styles for the images on the soap.html page      */

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column {
    flex: 25%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div.row,
div.row>div.column {
    padding: .5% 1.5% .5% 1.5%;
}

.content {
    color: darkslategrey;
    text-shadow: 2px 2px 2px #aaaaaa;
    text-align: center;
    font-size: x-large;
    background-color: white;
    padding: 6%;
    box-shadow: 10px 10px 5px #aaaaaa;
}

figcaption.addtocart {
    color: white;
    text-align: center;
    text-shadow: 2px 2px 4px darkslategrey;
    margin: 0 auto;
}


/* the styles for the table on the cart.html*/

figure {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    margin-top: 1em;
    margin-left: 0;
    float: left;
}

figcaption {
    padding-top: 1em;
    margin-bottom: 1em;
    text-align: center;
    color: whitesmoke;
    font-size: x-large;
    font-weight: bold;
}

table {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    border-collapse: collapse;
    font-size: large;
    color: whitesmoke;
    margin-left: 3%;
    padding: 1%;
}

th,
td {
    padding: .2em 1%;
    text-align: left;
}

tfoot th,
tfoot td {
    text-align: right;
    font-weight: bold;
}

tr:nth-child(4) {
    background-color: silver;
}

.border_bottom {
    border-bottom: 2px solid whitesmoke;
    ;
}

.right {
    text-align: right;
}


/*   Artical on the cart.html page     */

aside.artical {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    justify-content: space-around;
    margin-top: 2em;
    width: 50%;
    float: left;
    text-align: center;
}

.artical h1 {
    text-align: center;
    color: whitesmoke;
    font-size: 220%;
}

.artical p {
    padding-left: 1.5%;
    padding-right: 1%;
    padding-top: 2em;
    font-size: larger;
    color: whitesmoke;
    text-align: left;
}


/*        the styles for the form      */

section.cart {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    justify-content: space-around;
    width: 50%;
    margin: 0 auto;
    float: right;
}

aside.artical {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    margin: 0 auto;
    width: 50%;
}

aside.artical h1 {
    padding-top: 1em;
}

h1#soap {
    padding-top: 1em;
    text-align: center;
    color: whitesmoke;
    font-size: 215%;
}

fieldset {
    display: flex;
    flex-direction: column;
    margin-bottom: .5em;
    padding: .5em 1%;
    color: whitesmoke;
    font-size: larger;
    width: 50%;
}

#registration_form {
    margin: 0 1%;
}

legend {
    font-weight: bold;
    font-size: x-large;
    padding-bottom: .5em;
}

label,
input,
select {
    font-size: 100%;
}

label {
    display: flex;
    float: left;
    flex-basis: 30%;
    width: 30%;
    text-align: right;
}

input,
select {
    display: flex;
    flex-basis: 45%;
    width: 45%;
    margin-left: 2%;
    margin-bottom: 2%;
}

input:required,
input[required],
input:invalid {
    border: 2px solid darkred;
}

input:valid {
    border: 2px solid black;
}

input:invalid {
    box-shadow: none;
}

br {
    clear: both;
}

#radio label {
    float: none;
}

#radio input {
    width: auto;
    margin-left: 3%;
}

#exp_month {
    width: 20%;
}

#exp_year {
    width: 10%;
}

#buttons input {
    width: 25%;
}


/*       Footer           */

footer {
    border-style: solid;
    border-color: whitesmoke;
    margin-top: 1em;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    background-color: darkslategray;
}

footer p {
    padding-top: 3em;
    padding-bottom: 3em;
    color: whitesmoke;
    text-align: center;
}

.social_media_img {
    width: 5%;
}

.contact_social {
    text-align: center;
}


/*          About Page            */

section.images_about {
    float: left;
    display: block;
    width: 50%;
    height: auto;
    padding: 4%;
    margin-top: .75em;
}

aside.about {
    flex-direction: column;
    display: flex;
    flex-basis: 50%;
    margin-top: 1em;
    padding-top: .5em;
    padding-left: 1%;
    order: 1;
    width: 50%;
}

aside.about h1 {
    color: whitesmoke;
    font-size: 250%;
    padding-top: .3em;
    padding-bottom: .3em;
}

aside.about p {
    color: darkslategray;
    font-size: x-large;
    text-align: left;
    text-indent: 50px;
    padding: .70%;
    order: 2;
}

section.about {
    flex-direction: column;
    flex-basis: 50%;
    display: flex;
    color: darkslategray;
    padding: 30px;
    justify-content: center;
    width: 50%;
}

section.about h1 {
    color: whitesmoke;
    font-size: 250%;
    padding-bottom: .3em;
    text-align: center;
    padding-top: 1em;
}

section.about p {
    text-indent: 50px;
    color: darkslategray;
    font-size: x-large;
    text-align: left;
    padding: 1%;
}


/*Contact US*/

aside.contact_img {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    padding: 4%;
    margin: 0 auto;
    width: 40%;
    float: left;
}

section#contact {
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
    justify-content: space-around;
    margin: 0 auto;
    width: 60%;
    float: left;
}


/* slicknav */

#mobile_menu {
    display: none;
}

.slicknav_menu {
    background-color: darkslategray;
}


/* tablet portrait to standard 960 */

@media only screen and (max-width: 959px) {
    .row,
    .images,
    .column,
    .rightimg,
    .leftimg,
    .centerimg {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    header.soap_header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #nav_menu img {
        float: none;
        flex-basis: 35%;
        align-items: center;
    }
    #mobile_menu {
        display: block;
    }
    #nav_menu {
        display: none;
    }
    .slicknav_menu {
        background-color: darkslategray !important;
    }
    nav.slicknav_nav {
        align-items: center;
        text-align: center;
        margin: 0 auto;
    }
    aside {
        order: 1;
    }
    section {
        order: 2;
    }
}


/* mobile land to tab portrait */

@media only screen and (max-width: 767px) {
    #nav_menu {
        display: none;
    }
    #mobile_menu {
        display: block;
    }
    .slicknav_menu {
        background-color: darkslategray !important;
    }
    header.soap_header {
        display: flex;
        text-align: center;
        justify-content: space-around;
    }
    header,
    footer p {
        text-align: center;
    }
    footer p {
        margin-right: 0;
    }
    .row,
    .images,
    .column,
    content {
        flex-direction: column;
    }
    section,
    aside {
        float: none;
        width: 95%;
    }
    aside {
        order: 1;
    }
    section {
        order: 2;
    }
}

@media only screen and (max-width: 479px) {
    body {
        font-size: 90%;
    }
    header.soap_header {
        display: flex;
        text-align: center;
        justify-content: space-around;
    }
    header.soap_header h1 {
        font-size: 250%;
        text-align: center;
    }
    aside {
        order: 1;
    }
    section {
        order: 2;
    }
}